{% extends 'base.html' %}
{% load cloudinary %} 
{% load bootstrap4 %} 
{% block content %}

<style>
    body{
    font-family: 'Lato', global_font_string;
    font-weight: 500;
    background-color: #081c15;
    color: white;
    }
</style>
<div class="container">
    <div class=" ">
        <div class="form">
          <h3 class="text-center">Update profile</h3>
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-outline-info bg-info text-white" value="Update" />
            </div>
          </form>
        </div>
      </div>
</div>
<section class="footer">
	<div class="container-fluid  " style="background-color: #f72585;">
		<footer class="text-center text-white ">
			<div class="container-fluid">
				<section class="">
					<div class="row text-center d-flex justify-content-center">
						<div class="col-md-3">
							<h6 class="text-uppercase font-weight-bold">
								<a href="mailto: edwikenyasuguta@gmail.com" target="_blank" class="text-white"><i
										class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
							</h6>
						</div>

						<div class="col-md-3">
							<h6 class="text-uppercase font-weight-bold">
								<a href="http://wa.me/+254718013941" target="_blank" class="text-white"><i
										class="fab fa-whatsapp fa-2x"></i></i>
								</a>
							</h6>
						</div>

						<div class="col-md-3">
							<h6 class="text-uppercase font-weight-bold">
								<a href="https://github.com/Edwike12" target="_blank" class="text-white"><i
										class="fab fa-github fa-2x"></i></i></a>
							</h6>
						</div>

						<div class="col-md-3">
							<h6 class="text-uppercase font-weight-bold">
								<a href="https://www.facebook.com/edwinata.nyaunchiano" target="_blank"
									class="text-white"><i class="fab fa-facebook fa-2x"></i></a>
							</h6>
						</div>

					</div>
					<section class="">
						<div class="row d-flex justify-content-center">
							<div class="col">
								<p>

								</p>
							</div>
						</div>
					</section>

			</div>

			<div style="background-color: #f72585;">
				© 2022 Copyright:
				<a class="text-white" href="/">EBParlour.com</a>
			</div>

		</footer>

	</div>
</section>
{% endblock%}